*{
    -fx-light-purple-color: #AFB2FF;
    -fx-purple-color: #8083d2;
    -fx-grey-purple-color: #9ca0c7
}
.pane, .vbox{
    -fx-background-color: #ECEFFF;
}

Label {
    -fx-font-size: 14;
}

.button:hover{
    -fx-effect: dropshadow( gaussian , rgba(53, 40, 79, 0.7), 10,0,0,1 );
}

.text-field {
    -fx-accent: -fx-light-purple-color;
    -fx-background-color: white, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
}
.text-field:focused {
    -fx-background-color: -fx-purple-color, white;
}

.title{
    -fx-font-size: 20;
    -fx-font-family: "Montserrat SemiBold";
}

.table-view {
    -fx-font-size: 14;
    -fx-border-color: -fx-purple-color;
    -fx-background-color: transparent; /* OR  -fx-background-insets: 0.0; */
}

.table-view .column-header-background,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header {
    -fx-background-color: -fx-purple-color;
}
.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

/*.table-view .virtual-flow .scroll-bar .increment-button,*/
/*.table-view .virtual-flow .scroll-bar .decrement-button {*/
/*    -fx-opacity: 0;*/
/*    -fx-padding: 2;*/
/*}*/

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, -fx-light-purple-color,  -fx-purple-color);
}

.table-row-cell {
    -fx-pref-height: 30;
}
/* This is just magic */
.table-row-cell:filled {
    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-light-purple-color -fx-light-purple-color -fx-light-purple-color, transparent;
    -fx-border-insets: 0, 1;
}
.table-row-cell:empty {
    -fx-background-color: transparent;
}
.table-row-cell:filled:hover {
    -fx-background-color: -fx-purple-color;
}
.table-row-cell:filled:selected:hover {
    -fx-background-color: -fx-purple-color;
}
.table-row-cell:filled:selected {
    -fx-background-color: -fx-grey-purple-color;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}

.choice-box  { -fx-background-color: white; }
   .choice-box .menu-item:focused { -fx-background-color: -fx-purple-color; }
   .choice-box .menu-item > .label { -fx-text-fill: black; }
   .choice-box .menu-item:focused > .label { -fx-text-fill: white; }